@model Stardust.Models.NotaEntradaBean

@{
    ViewBag.Title = "Registrar Nota de Entrada";
}

<h2>Registrar nota Entrada</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


    
@using (Html.BeginForm("RegistrarNotaEntrada", "OrdenCompra", FormMethod.Post, new { @class = "form" }))
{
   @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.idordencompra) @Html.HiddenFor(model => model.idhotel) 
    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Nota Entrada</h6>
            </div>
            <div class="formRow"> @Html.LabelFor(model => model.nombreproveedor)<span class="req">*</span> @Html.HiddenFor(model => model.nombreproveedor) 
                <div class=" formRight"> @Html.DisplayFor(model => model.nombreproveedor)  </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">@Html.LabelFor(model => model.fechaRegistradaOrdenCompra)<span class="req">*</span> @Html.HiddenFor(model => model.fechaRegistradaOrdenCompra) 
                <div class="formRight"> @Html.DisplayFor(model => model.fechaRegistradaOrdenCompra) </div>
                <div class="clear"></div>
            </div>

            <div class="formRow">@Html.LabelFor(model => model.estado)<span class="req">*</span> @Html.HiddenFor(model => model.estado) 
                <div class="formRight"> @Html.DisplayFor(model => model.estado) </div>
                <div class="clear"></div>
            </div>
          
            
        </div>
    </fieldset>
    
    
    <div class="widget">

          <div class="title"><img src="../../Content/images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Lista de Productos</h6></div>

            <table cellpadding="0" cellspacing="0" width="100%" class="sTable">

                <thead>
                    <tr>
                        <td>Producto</td>
                        <td>Cantidad Solicitada</td>
                        <td>Cantidad Recibida</td>
                        <td>Cantidad Faltante</td>
                        <td>Cantidad Entrante</td>
                        
                    </tr>
                </thead>

                <tbody>
                        @for (int i = 0; i < Model.detallenotaentrada.Count; i++)
                        {
                    <tr>       
                            @Html.HiddenFor(model => model.detallenotaentrada[i].ID) 
                        <td> @Html.DisplayFor(model => model.detallenotaentrada[i].nombre) @Html.HiddenFor(model => model.detallenotaentrada[i].nombre) </td>
                        <td> @Html.DisplayFor(model => model.detallenotaentrada[i].cantidadsolicitada) @Html.HiddenFor(model => model.detallenotaentrada[i].cantidadsolicitada)</td>
                        <td> @Html.DisplayFor(model => model.detallenotaentrada[i].cantidadrecibida) @Html.HiddenFor(model => model.detallenotaentrada[i].cantidadrecibida)</td>
                        <td> @Html.DisplayFor(model => model.detallenotaentrada[i].cantidadfaltante) @Html.HiddenFor(model => model.detallenotaentrada[i].cantidadfaltante)</td>
                            @Html.HiddenFor(model => model.detallenotaentrada[i].estado)
                            @if (Model.detallenotaentrada[i].estado)
                            {
                                <td> @Html.DisplayFor(model => model.detallenotaentrada[i].cantidadentrante) @Html.HiddenFor(model => model.detallenotaentrada[i].cantidadentrante)</td>
                            }
                            else
                            { 
                            
                               <td> @Html.TextBoxFor(model => model.detallenotaentrada[i].cantidadentrante) @Html.ValidationMessageFor(model => model.detallenotaentrada[i].cantidadentrante) @ViewBag.error</td>
                            }
                      
                    </tr>       
                        }

                </tbody>

            </table>

      </div>

    
    <p>
        <input type="submit" value="Guardar" class = "redB" />
    </p>
    
    <p>
       
        @Html.ActionLink("Regresar", "ListarNotaEntrada/" + Model.idordencompra, "OrdenCompra")
    </p>
    
}
    