@model Stardust.Models.EmpleadoBean

@{
    ViewBag.Title = "Eliminar empleado";
}

<h2>Eliminar Empleado</h2>

<h3>Seguro de querer eliminar este empleado?</h3>

<fieldset>
    <div class = "widget" >
        <div class = "title"><h6>Detalles del empleado</h6></div>

        <div class="formRow">
            @Html.LabelFor(model => model.nombreEmpleado)
            <div class = "formRight" >@Html.DisplayFor(model => model.nombreEmpleado)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.fechaIngreso)
            <div class = "formRight" >@Html.DisplayFor(model => model.fechaIngreso)</div>
            <div class = "clear" ></div>
        </div>
    </div>
</fieldset>

@using (Html.BeginForm("Delete", "Empleado", FormMethod.Post, new { @class = "form" }))
{
    <p>
        <input class = "redB" type="submit" value = "Borrar" /> |
        @Html.ActionLink("Regresar", "List")
    </p>
}