@model Stardust.Models.AmbienteBean

@{
    ViewBag.Title = "Registrar Ambiente";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript"></script>




<h2>Registro de un nuevo Ambiente</h2>


<p>
    Llene el siguiente formulario para la creación de un nuevo ambiente
</p>


@ViewBag.lol
@using (Html.BeginForm("RegistrarAmbiente", "Servicios", FormMethod.Post, new { @class = "form", id = "validate" }))
{
 
    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Registrar Ambiente</h6>
            </div>

             <div class = "formRow" >
                @Html.LabelFor(model => model.idHotel)
                <div class = "formRight" > 
                    @Html.DropDownListFor(model => model.idHotel, new SelectList(ViewBag.listaHoteles, "ID", "nombre"), "..Elija un Hotel", new { onchange = "this.form.submit();" })
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.ValidationMessageFor(model => model.idHotel)
                </div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">@Html.LabelFor(model => model.nombre)
                <div class="formRight">
                @Html.TextBoxFor(m => m.nombre, new { @class = "validate[required]", name = "", maxlength = "50", minlength = "3", placeholder = "Nombre de máximo 50 caracteres" }) 
                @Html.ValidationMessageFor(model => model.nombre)
                </div>
                <div class="clear"></div>
            </div>


            <div class="formRow">@Html.LabelFor(model => model.descripcion)
                <div class="formRight">
                @Html.TextAreaFor(m => m.descripcion, new { maxlength = "200", placeholder = "Maximo 200 caracteres aqui" }) 
                @Html.ValidationMessageFor(model => model.descripcion)
                </div>
                <div class="clear"></div>
            </div>

           <div class="formRow"><span>@Html.LabelFor(model => model.cap_maxima)
                <div class="formRight">
                @Html.TextBoxFor(m => m.cap_maxima, new { maxlength = "6" }) 
                @Html.ValidationMessageFor(model => model.cap_maxima)
                </div>
                <div class="clear"></div>
            </div>
           
           <div class="formRow">@Html.LabelFor(model => model.largo)
                <div class="formRight">
                @Html.TextBoxFor(m => m.largo, new { @class = "validate[custom[onlyNumberSp]]", name = "numsValid", maxlength = "9", minlength = "1" }) 
                @Html.ValidationMessageFor(model => model.largo)
                </div>
                <div class="clear"></div>
            </div>

            <div class="formRow">@Html.LabelFor(model => model.ancho)
                <div class="formRight">
                @Html.TextBoxFor(m => m.ancho, new { @class = "validate[custom[onlyNumberSp]]", name = "numsValid", maxlength = "9", minlength = "1" }) 
                @Html.ValidationMessageFor(model => model.ancho)
                </div>
                <div class="clear"></div>
            </div>

            <div class="formRow">@Html.LabelFor(model => model.precioXhora)
                <div class="formRight">
                @Html.TextBoxFor(m => m.precioXhora, new { @class = "validate[required,custom[onlyNumberSp]]", name = "numsValid", maxlength = "9" }) 
                @Html.ValidationMessageFor(model => model.precioXhora)
                </div>
                <div class="clear"></div>
            </div>

           <div class="formRow">@Html.LabelFor(model => model.piso)
                <div class="formRight">
                @Html.TextBoxFor(m => m.piso, new { maxlength = "2" }) 
                @Html.ValidationMessageFor(model => model.piso)
                </div>
                <div class="clear"></div>
            </div>

           @* <div class="formRow"><span>Proyector</span>
                <div class="formRight">
                @Html.TextBoxFor(m => m.proyector) 
                </div>
                <div class="clear"></div>
            </div>*@
                        
            @*<div class="formRow">
                <label for = "proyector" >Proyector</label>
                <div class="formRight">
                <select id="proyector" name="proyector">
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>              
                </div> 
                <div class="clear"></div>
            </div>*@

            @*<div class="formRow"><span>Proyector</span>
                <div class="formRight">
                
                Si
                @Html.RadioButtonFor(model => model.proyector, 1)
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                No
                @Html.RadioButtonFor(model => model.proyector, 0)

                </div>
                <div class="clear"></div>
            </div>*@
            
                      
        </div>
    </fieldset>

    <p>
                <input type="submit" value="Crear" class = "redB" />
            </p>


}

