@model Stardust.Models.HabitacionBean

@{
    ViewBag.Title = "Eliminar habitación";
}

<h2>@ViewBag.Title</h2>

<h3>Seguro de querer eliminar esta habitación?</h3>

<fieldset>
    <div class = "widget" >
        <div class = "title" ><h6> @ViewBag.Title</h6></div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.idHotel )
            <div class = "formRight" > @ViewBag.Hotel </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.idTipoHabitacion )
            <div class = "formRight" > @ViewBag.TipoHabitacion </div>
            <div class = "clear" ></div>
        </div>
            
        <div class = "formRow" >
            @Html.LabelFor(model => model.piso )
            <div class = "formRight" > @Html.DisplayFor(model => model.piso) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.estado)
            <div class = "formRight" > @Html.DisplayFor(model => model.estado) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.nroBanos )
            <div class = "formRight" > @Html.DisplayFor(model => model.nroBanos) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.aptoFumador)
            <div class = "formRight" > @Html.DisplayFor(model => model.aptoFumador) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.nroCamas )
            <div class = "formRight" > @Html.DisplayFor(model => model.nroCamas) </div>
            <div class = "clear" ></div>
        </div>

        
    </div>
</fieldset>

@using( @Html.BeginForm( "Delete" , "Habitacion" , FormMethod.Post , new { @class = "form" } ) ){
   <p>
        <input class = "redB" type="submit" value = "Borrar" /> |
        @Html.ActionLink("Regresar", "List")
    </p>
}