@model Stardust.Models.HabitacionBean

@{
    ViewBag.Title = "Detalle de habitación";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <div class = "widget" >
        <div class = "title" >
            <img src="@Url.Content("~/Content/images/icons/dark/list.png")" alt class="titleIcon">                        
            <h6>@ViewBag.Title</h6>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.idHotel )
            <div class = "formRight" > @ViewBag.Hotel </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.idTipoHabitacion )
            <div class = "formRight" > @ViewBag.TipoHabitacion </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.piso )
            <div class = "formRight" > @Html.DisplayFor(model => model.piso) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.estado)
            <div class = "formRight" > @Html.DisplayFor(model => model.estado) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.nroBanos )
            <div class = "formRight" > @Html.DisplayFor(model => model.nroBanos) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.aptoFumador)
            <div class = "formRight" > @Html.DisplayFor(model => model.aptoFumador) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.nroCamas )
            <div class = "formRight" > @Html.DisplayFor(model => model.nroCamas) </div>
            <div class = "clear" ></div>
        </div>
         <div class = "formRow" >
            @Html.LabelFor(model => model.numero )
            <div class = "formRight" > @Html.DisplayFor(model => model.numero) </div>
            <div class = "clear" ></div>
        </div>

        
    </div>
</fieldset>

<p>
    <a href="@Url.Action("Edit", new { id = Model.ID })"><img src="@Url.Content("~/Content/images/icons/color/pencil.png")" alt="Edit" />Editar</a> | 
    @Html.ActionLink("Regresar", "List")
</p>
