@model Stardust.Models.HabitacionBean

@{
    ViewBag.Title = "Modificar Habitación";
}

<h2>Modificar Habitación</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Habitacion", FormMethod.Post, new { @class = "form" ,id = "validate"}))
{
    @Html.ValidationSummary(false)
    <fieldset>
        <div class = "widget" >
            <div class = "title" ><h6> Modificar Habitación </h6></div>

            <div class = "formRow" >
                @Html.LabelFor(model => model.hotel )
                <div class = "formRight" > @Html.TextBoxFor(model => model.hotel, new { @class = "validate[required,custom[onlyLetterSp]]", name = "lettersValid", maxlength = "20" }) </div>
                <div class = "clear" ></div>
            </div>
            
            <div class = "formRow" >
                @Html.LabelFor(model => model.piso )
                <div class = "formRight" > @Html.TextBoxFor(model => model.piso, new { @class = "validate[required,custom[onlyNumberSp]]", name = "numsValid", maxlength = "4" }) </div>
                <div class = "clear" ></div>
            </div>

            <div class = "formRow" >
                @Html.LabelFor(model => model.estado)
                <div class = "formRight" > @Html.TextBoxFor(model => model.estado, new { @class = "validate[required,custom[onlyLetterSp]]", name = "lettersValid", maxlength = "20" }) </div>
                <div class = "clear" ></div>
            </div>

            <div class = "formRow" >
                @Html.LabelFor(model => model.nroBanos )
                <div class = "formRight" > @Html.TextBoxFor(model => model.nroBanos, new { @class = "validate[required,custom[onlyNumberSp]]", name = "numsValid", maxlength = "4"}) </div>
                <div class = "clear" ></div>
            </div>

            <div class = "formRow" >
                @Html.LabelFor(model => model.nroCamas )
                <div class = "formRight" > @Html.TextBoxFor(model => model.nroCamas, new { @class = "validate[required,custom[onlyNumberSp]]", name = "numsValid", maxlength = "4" }) </div>
                <div class = "clear" ></div>
            </div>

            <div class = "formRow" >
                @Html.LabelFor(model => model.tipoHabitacion )
                <div class = "formRight" > @Html.TextBoxFor(model => model.tipoHabitacion, new { @class = "validate[required,custom[onlyLetterSp]]", name = "lettersValid", maxlength = "20" }) </div>
                <div class = "clear" ></div>
            </div>
        </div>
        <p>
            <input class = "redB" type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "List")
</div>