@using Stardust.Models
@model OrdenCompras
<br />

@*<div class="logo" style=" text-align:>
            <a href="@Url.Action("Index","Home")">            
                <img src="@Url.Content("C:\Users\TEMP\Desktop\stardusthotel\Stardust\Stardust\Content\images\logo.png")"/>
            </a>
        </div>*@
        <div id="leftSide" >
        <div class="logo">

                <img src="C:\Users\TEMP\Desktop\ stardusthotel\Stardust\Stardust\Content\images\logo.png"/>

        </div>

<div align="center">
    Reporte de Proveedor
</div>
<div>Nombre del Proveedor: @Model.nombre</div>
<div>    </div>
<div>    </div>
<div>    </div>

<table cellpadding="3" cellspacing="3">
    <tr border="1" bgcolor="#777777" color="#ffffff">
        <td width="20%" align="center">
            Estado
        </td>
        <td width="50%" align="center">
            Fecha
        </td>
        <td width="30%" align="center">
            Precio
        </td>
    </tr>
    @{
        var OddColor = "#DDEEEE";
        var evenColor = "#EEFFFF";
        var Odd = OddColor;
    }
    @foreach (OrdenCompra proveedor in Model.listaOC)
    {
        <tr border="1" bgcolor="@Odd">
            <td>@proveedor.estado
            </td>
            <td>@proveedor.fecha
            </td>
            <td>@proveedor.precio
            </td>
        </tr>
        if (Odd == OddColor)
        {
            Odd = evenColor;
        }
        else
        {
            Odd = OddColor;
        }

    }
</table>
