@model Stardust.Models.UsuarioViewModelDetails

@{
    ViewBag.Title = "Detalles del usuario";
}

@if (Html.ValidationSummary() != null)
{
<div class="nNote nWarning hideit">
    <p>@Html.ValidationSummary()</p>
</div>
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <div class = "widget" >
        <div class = "title">
            <img src="@Url.Content("~/Content/images/icons/dark/list.png")" alt class="titleIcon">
            <h6>@ViewBag.Title</h6>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.user_account)
            <div class = "formRight" >@Html.DisplayFor(model => model.user_account)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.pass)
            <div class = "formRight" >@Html.DisplayFor(model => model.pass)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.nombrePerfilUsuario )
            <div class = "formRight" >
                @Html.DisplayFor(model => model.nombrePerfilUsuario)
                @Html.HiddenFor(model => model.idPerfilUsuario)
            </div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.nombres)
            <div class = "formRight" >@Html.DisplayFor(model => model.nombres)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.apPat)
            <div class = "formRight" >@Html.DisplayFor(model => model.apPat)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.apMat)
            <div class = "formRight" >@Html.DisplayFor(model => model.apMat)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.email)
            <div class = "formRight" >@Html.DisplayFor(model => model.email)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.celular)
            <div class = "formRight" >@Html.DisplayFor(model => model.celular)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.tipoDocumento)
            <div class = "formRight" >@Html.DisplayFor(model => model.tipoDocumento)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.nroDocumento)
            <div class = "formRight" >@Html.DisplayFor(model => model.nroDocumento)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.razonSocial)
            <div class = "formRight" >@Html.DisplayFor(model => model.razonSocial)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.estado)
            <div class = "formRight" >@Html.DisplayFor(model => model.estado)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.direccion)
            <div class = "formRight" >@Html.DisplayFor(model => model.direccion)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.nombreDepartamento)
            <div class = "formRight" >
                @Html.DisplayFor(model => model.nombreDepartamento)
                @Html.HiddenFor(model => model.idDepartamento)
            </div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.nombreProvincia)
            <div class = "formRight" >
                @Html.DisplayFor(model => model.nombreProvincia)
                @Html.HiddenFor(model => model.idProvincia)
            </div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.nombreDistrito)
            <div class = "formRight" >
                @Html.DisplayFor(model => model.nombreDistrito)
                @Html.HiddenFor(model => model.idDistrito)
            </div>
            <div class = "clear" ></div>
        </div>
        
    </div>
</fieldset>

<p>
    <a href="@Url.Action("Edit", new { id = Model.ID })"><img src="@Url.Content("~/Content/images/icons/color/pencil.png")" alt="Edit" />Editar</a> | 
    @Html.ActionLink("Regresar", "List")
</p>
