@model Stardust.Models.HotelBean

@{
    ViewBag.Title = "Eliminar Hotel";
}

@if (ViewBag.depend == 0)
{

<h3>Seguro de querer eliminar este hotel?</h3>

<fieldset>
    <div class = "widget" >
        <div class = "title"><h6>Detalles del hotel</h6></div>

        <div class="formRow">
            @Html.LabelFor(model => model.nombre)
            <div class = "formRight" >@Html.DisplayFor(model => model.nombre)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.razonSocial)
            <div class = "formRight" >@Html.DisplayFor(model => model.razonSocial)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.direccion)
            <div class = "formRight" >@Html.DisplayFor(model => model.direccion)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.nombreDistrito)
            <div class = "formRight" >@Html.DisplayFor(model => model.nombreDistrito)</div>
            <div class = "clear" ></div>
        </div>
    </div>
</fieldset>

using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Eliminar" class = "redB"/> |
        @Html.ActionLink("Regresar", "List")
    </p>
}

}
else { 
    <h3>Imposible eliminar este hotel. Ya se le han asignado tipos de habitación.</h3>
    <p>
        @Html.ActionLink("Regresar", "List")
    </p>
}