@model Stardust.Models.HotelBean

@{
    ViewBag.Title = "Eliminar Hotel";
}

<h3>Seguro de querer eliminar este hotel?</h3>

<fieldset>
    <div class = "widget" >
        <div class = "title"><h6>Detalles del hotel</h6></div>

        <div class="formRow">
            @Html.LabelFor(model => model.nombre)
            <div class = "formRight" >@Html.DisplayFor(model => model.nombre)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.razonSocial)
            <div class = "formRight" >@Html.DisplayFor(model => model.razonSocial)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.direccion)
            <div class = "formRight" >@Html.DisplayFor(model => model.direccion)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.distrito)
            <div class = "formRight" >@Html.DisplayFor(model => model.distrito)</div>
            <div class = "clear" ></div>
        </div>
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" class = "redB"/> |
        @Html.ActionLink("Regresar", "List")
    </p>
}


