@model IEnumerable<Stardust.Models.HotelBean>

@{
    ViewBag.Title = "Hoteles";
}

<h2>Hoteles</h2>

<p>
    <a href="@Url.Action("Create")"><img src="../../Content/images/icons/color/plus.png", alt="Edit" />Añadir hotel</a>
</p>

<table cellpadding = "0" cellspacing = "0" width = "100%" class = "sTable">
    
     <thead>
        <tr>
            <td>Nombre del hotel</td>
            <td>Razón Social</td>
            <td>Dirección</td>
            <td>Telefono 1</td>
            <td>Distrito</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tlf1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distrito)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ID })"><img src="../../Content/images/icons/color/pencil.png", alt="Edit" />Editar </a> | 
            <a href="@Url.Action("Details", new { id = item.ID })"><img src="../../Content/images/icons/color/edit-column.png", alt="Details" />Detalles</a> | 
            <a href="@Url.Action("Delete", new { id = item.ID })"><img src="../../Content/images/icons/color/cross.png", alt="Delete" />Borrar</a>
            <a href="@Url.Action("VerTiposHabitacion", new { id = item.ID })"><img src="../../Content/images/icons/color/bank.png", alt="Delete" />Tipos de habitación</a>
        </td>
    </tr>
}
     </tbody>
</table>