@model IEnumerable<Stardust.Models.TipoHabitacionxHotel>

@{
    ViewBag.Title = "Ver tipos de habitacion";
}

<h2>Hotel: @ViewBag.hotel </h2>

<p></p>

<p>
    <a href="@Url.Action("AsignarTipoHabitacion")"><img src="../../Content/images/icons/color/plus.png", alt="Edit" />Añadir tipo de habitación</a>
</p>

<table cellpadding = "0" cellspacing = "0" width = "100%" class = "sTable">
    
     <thead>
        <tr>
            <td>Tipo de Habitación</td>
            <td>Precio Base</td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioBase)
        </td>
    </tr>
}
     </tbody>
</table>

<div>
    @Html.ActionLink("Regresar", "List")
</div>
