@model Stardust.Models.ProveedorBean

@{
    ViewBag.Title = "Buscar Proveedor";
}

<h2>BuscarProveedor</h2>

<p>
    Llene el siguiente formulario para la creación de un nuevo proveedor
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("MostrarProveedores","Proveedor"))

{

    <form action = "" class = "form" >
     <fieldset>


     <div class="editor-label">
                <label>Razon Social</label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.razonSocial)                              
            </div>

            <p>
                <input type="submit" value="Iniciar búsqueda" />
            </p>

     </fieldset>
    </form>


}


@*@model IEnumerable<Stardust.Models.Proveedor>

@{
    ViewBag.Title = "Buscar Proveedor";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



<h2>Buscar Proveedor</h2>

@using (@Html.BeginForm("Control", "Proveedor", FormMethod.Post, new { @class = "form" }))
{


    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Buscar Proveedor</h6>
            </div>
			<div class="formRow">  <label>Razon Social</label>
                <div class = "formRight" ><input type = "text" id = "razon_social" name = "nombre" /></div>
                <div class = "clear" ></div>
            </div>
            <div class="formRow">  <label>Contacto</label>
                <div class = "formRight" ><input type = "text" id = "contacto" name = "nombre" /></div>
                <div class = "clear" ></div>
            </div>

        </div>
        <div class="formSubmit">
                <input class="redB" type="submit" value="Buscar"/>
        </div>
    </fieldset>
    
}  
    
<p></p><p></p>

@if ( String.IsNullOrEmpty( ViewBag.resp ) ) { 
    <div class="nNote nWarning hideit">        <p><strong>WARNING: </strong>Ingrese valores de búsqueda.</p>    </div>}else if(ViewBag.coincidencias > 0)
{    <div class="nNote nInformation hideit">        <p><strong>INFORMACIÓN</strong>Se encontraron @ViewBag.coincidencias coincidencias.</p>    </div>
}
<table cellpadding = "0" cellspacing = "0" width = "100%" class = "sTable">
    <thead>
        <tr>
            <td>Razon Social</td>
            <td>Direccion</td>
            <td>Contacto</td>
            <td></td>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.razonSocial )</td>
            <td>@Html.DisplayFor(modelItem => item.direccion)</td>
            <td>@Html.DisplayFor(modelItem => item.contacto)</td>
            <td>
                Editar <a href="@Url.Action("Edit", new { id = item.idProveedor })"><img src="../../Content/images/icons/color/pencil.png", alt="Edit" /></a> | 
                Detalles <a href="@Url.Action("Details", new { id = item.idProveedor })"><img src="../../Content/images/icons/color/edit-column.png", alt="Details" /></a> | 
                Borrar <a href="@Url.Action("Delete", new { id = item.idProveedor })"><img src="../../Content/images/icons/color/cross.png", alt="Delete" /></a>
            </td>
        </tr>
        
    }
    </tbody>
</table>*@