@model Stardust.Models.ProveedorBean

@{
    ViewBag.Title = "Registrar Proveedor";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>

@ViewBag.lol

@using (Html.BeginForm("RegistrarProveedor", "Proveedor", FormMethod.Post, new { @class = "form", id="validate"}))
{
   @Html.ValidationSummary(false)
    

    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Registrar Proveedor</h6>
            </div>
            <div class="formRow"> Razon social<span class="req">*</span>
                <div class="formRight">
                    <input type="text" value="esto es una caracter invalido" class="validate[required, custom[onlyLetterSp]]" name="lettersValid" id="razonsocial"/>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">@Html.LabelFor(model => model.ruc)<span class="req">*</span>
                <div class="formRight"> @Html.TextBoxFor(model => model.ruc, new { @class = "validate[required,custom[onlyNumberSp]]", name = "numsValid", maxlength = "11", placeholder = "Maximo 11 números aqui" }) </div>
                <div class="clear"></div>
            </div>

            <div class="formRow">@Html.LabelFor(model => model.direccion)<span class="req">*</span>
                <div class="formRight"> @Html.TextBoxFor(model => model.direccion, new { @class = "validate[required]", name = "", maxlength = "40", placeholder = "" }) </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">@Html.LabelFor(model => model.telefono)
                <div class="formRight"> @Html.TextBoxFor(model => model.telefono, new { @class = "validate[custom[onlyNumberSp]]", name = "numsValid", maxlength = "9", minlength = "8", placeholder = "celular" }) </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">@Html.LabelFor(model => model.web)<span class="req">*</span>
                <div class="formRight"> @Html.TextBoxFor(model => model.web, new { @class = "validate[required]", name = "urlField", maxlength = "30", placeholder = "" }) </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">@Html.LabelFor(model => model.contacto)<span class="req">*</span>
                <div class="formRight"> @Html.TextBoxFor(model => model.contacto, new { @class = "validate[required,custom[onlyLetterSp]]", name = "lettersValid", maxlength = "30", placeholder = "Nombre y Apellido" }) </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">@Html.LabelFor(model => model.cargoContacto)<span class="req">*</span>
                <div class="formRight"> @Html.TextBoxFor(model => model.cargoContacto, new { @class = "validate[required,custom[onlyLetterSp]]", name = "lettersValid", maxlength = "20", placeholder = "" }) </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">@Html.LabelFor(model => model.telefonocontacto)
                <div class="formRight"> @Html.TextBoxFor(model => model.telefonocontacto, new { @class = "validate[custom[onlyNumberSp]]", name = "numsValid", maxlength = "9", minlength = "8", placeholder = "celular" }) </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">@Html.LabelFor(model => model.emailContacto)<span class="req">*</span>
                <div class="formRight"> @Html.TextBoxFor(model => model.emailContacto, new { @class = "validate[required,custom[email]]", name = "emailValid", maxlength = "40", placeholder = "" }) </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">@Html.LabelFor(model => model.observaciones)
                <div class="formRight"> @Html.TextAreaFor(model => model.observaciones, new { @class = "validate[custom]", maxlength = "100", placeholder = "Maximo 100 caracteres aqui" }) </div>
                <div class="clear"></div>
            </div>            
            
        </div>
    </fieldset>

        <p>
        <input type="submit" value="Crear" class = "redB" />        
        @Html.ActionLink("Regresar", "Index")
    </p>
}
