@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@Url.Content( "~/Content/js/custom.js" )"></script>
</head>

<body class="nobg errorPage">

    <!-- Right side -->
    <div id="rightSide">
        <!-- Top fixed navigation -->
        <div class="topNav">
            <div class="wrapper">
                <div class="welcome">
                    <a href="#" title="">
                        <img src="@Url.Content("~/Content/images/userPic.png")" alt="" />
                    </a>
                    <span>
                        @FormsAuthentication.FormsCookieName
                    </span>
                </div>
                <div class="userNav">
                    <ul>
                        <li><a href="#" title=""><img src="@Url.Content("~/Content/images/icons/topnav/profile.png" )" alt="" /><span>Perfil</span></a></li>
                        <li><a href="@Url.Action("Index","Logout")" title=""><img src="@Url.Content("~/Content/images/icons/topnav/logout.png" )" alt="" /><span>Cerrar Sesión</span></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    
         
        <!-- Main content wrapper -->
        <div class="errorWrapper">
            <span class="sadEmo"></span>
            <span class="errorTitle">Ohh, algo salio mal aquí :(</span>
            @*<span class="errorNum">403</span>*@
            <span class="errorDesc">Oops! Un error grave ocurrio aquí</span>
            <a href="@Url.Action("Index","Home")" title="" class="button dredB"><span>Back to dashboard</span></a>
            <span>@Model.ControllerName..@Model.ActionName</span>
        </div> 
    
        <!-- Footer line -->
       @* <footer>
            <div id="footer">
                <div class="wrapper">Usted se encuentra en la web de la cadena de Hoteles Stardust</div>
            </div>
        </footer>*@
    </div>

</body>
</html>
