@model IEnumerable<Stardust.Models.Usuario>

@{
    ViewBag.Title = "Buscar usuario";
}

<h2>Buscar</h2>

@using (Html.BeginForm("Buscar", "Usuario", FormMethod.Post, new { @class = "form" }))
{
    @Html.ValidationSummary(false)
    <fieldset>
        <div class = "widget" >
            <div class = "title"><h6>Crear Usuario</h6></div>

            <div class="formRow">
                <label>Nombre</label>
                <div class = "formRight" ><input type = "text" id = "nombre" name = "nombre" /></div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                <label>Apellido Paterno</label>
                <div class = "formRight" ><input type = "text" id = "apPat" name = "apPat" /></div>
                <div class = "clear" ></div>
            </div>
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Buscar" class = "redB" />
    </p>
}

<p></p><p></p><p></p>

<table cellpadding = "0" cellspacing = "0" width = "100%" class = "sTable">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Ap. Paterno</td>
            <td>Ap. Materno</td>
            <td></td>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.nombres)</td>
            <td>@Html.DisplayFor(modelItem => item.apPat)</td>
            <td>@Html.DisplayFor(modelItem => item.apMat)</td>
            <td>
                @*@Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
                @Html.ActionLink("Borrar", "Delete", new { id=item.ID })*@
                <a href="@Url.Action("Edit", new { id = item.ID })"><img src="../../Content/images/icons/color/pencil.png", alt="Edit" />Editar </a> | 
                <a href="@Url.Action("Details", new { id = item.ID })"><img src="../../Content/images/icons/color/edit-column.png", alt="Details" />Detalles</a> | 
                <a href="@Url.Action("Delete", new { id = item.ID })"><img src="../../Content/images/icons/color/cross.png", alt="Delete" />Borrar</a>
            </td>
        </tr>
        
    }
    </tbody>
</table>