@model Stardust.Models.Usuario

@{
    ViewBag.Title = "Borrar usuario";
}

@*<h2>Delete</h2>*@

<h3>Seguro de querer eliminar este usuario?</h3>
<fieldset>
    <div class = "widget" >
        <div class = "title"><h6>Detalles del Usuario</h6></div>
    @*<legend>Usuario</legend>*@

        <div class="formRow">
            @Html.LabelFor(model => model.nombres)
            <div class = "formRight" >@Html.DisplayFor(model => model.nombres)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.apPat)
            <div class = "formRight" >@Html.DisplayFor(model => model.apPat)</div>
            <div class = "clear" ></div>
        </div>

        <div class="formRow">
            @Html.LabelFor(model => model.apMat)
            <div class = "formRight" >@Html.DisplayFor(model => model.apMat)</div>
            <div class = "clear" ></div>
        </div>
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar" class = "redB"/> |
        @Html.ActionLink("Regresar", "Index")
    </p>
}
