@model Stardust.Models.Horario

@{
    ViewBag.Title = "Editar Horario";
}

<h2>Modificar Horario Asignado</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/custom.js")" type="text/javascript"></script>

@if ( !String.IsNullOrEmpty(ViewBag.error)) { 
    <div class="nNote nWarning hideit">
        <p><strong>AVISO: </strong>@ViewBag.error</p>
    </div>
}

@using (Html.BeginForm("EditarHorario", "Empleado",  FormMethod.Post, new { @class = "form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class = "widget" >
            <div class = "title" ><h6> Editar Horario </h6></div>

            <div class = "formRow" >
                @Html.LabelFor(model => model.nombreEmpleado)
                <div class = "formRight" > @Html.DisplayFor(model => model.nombreEmpleado) </div>
                <div class = "clear" ></div>
            </div>

            <div class = "formRow" style = "display:none" >
                @Html.LabelFor(model => model.nombreEmpleado)
                <div class = "formRight" > @Html.TextBoxFor(model => model.idEmpleado) </div>
                <div class = "clear" ></div>
            </div>

            <div class = "formRow" >
                @Html.LabelFor(model => model.fechaInicioHorario)
                <div class = "formRight" > @Html.TextBoxFor(model => model.fechaInicioHorario, new { @class = "datepicker" }) </div>
                <div class = "clear" ></div>
            </div>
             <div class = "formRow" >
                @Html.LabelFor(model => model.fechaFinHorario)
                <div class = "formRight" > @Html.TextBoxFor(model => model.fechaFinHorario, new { @class = "datepicker" }) </div>
                <div class = "clear" ></div>
            </div> 
            
        </div>
        <p>
            <input class = "redB" type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "List" )
</div>
