
@model IEnumerable<Stardust.Models.HorarioDetalle>

@{
    ViewBag.Title = "Lista de Detalles del horario";
}

<h2>Lista de  Detalles </h2>



<table cellpadding = "0" cellspacing = "0" width = "100%" class = "sTable">
     
    <thead>
        <tr>
            
            <td>Día de Semana </td>
            <td>Hora de entrada</td>
            <td>Hora de Salida</td>
            <td>Opciones</td>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model) {
        <tr> 
        @*
            <td>
               <a href="@Url.Action("CreateHorario", new { id = item.idempleado })"><img src="../../Content/images/icons/color/application-plus-black.png", alt="Create" /></a>
            </td>
        *@
            @* <td>@Html.DisplayFor( modelItem => item.nombreEmpleado )</td> *@
            
           
            <td>@Html.DisplayFor(modelItem => item.diaSemana)</td>
			<td>@Html.DisplayFor(modelItem => item.horaEntrada)</td>
			<td>@Html.DisplayFor(modelItem => item.horaSalida)</td>
			
            <td>
				<a href="@Url.Action("EditarDetalle", new { id = item.idHorarioDetalle })"><img src="../../Content/images/icons/color/pencil.png", alt="Edit" />Editar </a
			</td>
        </tr>
        
    }
    </tbody>
</table>