@model Stardust.Models.Promociones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Promociones</legend>

    <div class="display-label">nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">descripcion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <div class="display-label">variableAnalizar</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.variableAnalizar)
    </div>

    <div class="display-label">CondicionAnalizar</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CondicionAnalizar)
    </div>

    <div class="display-label">porcDescontar</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.porcDescontar)
    </div>

    <div class="display-label">idhotel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idhotel)
    </div>

    <div class="display-label">estado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
