@model IEnumerable<Stardust.Models.PromocionBean>

<h2>Buscar Promocion</h2>

<p></p><p></p>

<div class="wrapper">
    <div class="widget">
      <div class="title">
      <h6>Lista de Promociones</h6>
      </div>
      <div class="dataTables_wrapper">
        <table cellpadding = "0" cellspacing = "0" width = "100%" class = "display dTable">
    
        <thead>
        <tr>
            <th class="ui-state-default" rowspan="1" colspan="1" style="width:300px;">
                <div class="DataTables_sort_wrapper">
                Descripcion
                <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-s"></span>
                </div>
             </th>
            <th class="ui-state-default" rowspan="1" colspan="1" style="width:180px;" >
                <div class="DataTables_sort_wrapper">
                Numero de Dias/Porcentaje Pago de Adelanto
                <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-s"></span>
                </div>
             </th>
               <th class="ui-state-default" rowspan="1" colspan="1" style="width:150px;" >
                <div class="DataTables_sort_wrapper">
                Porcentaje a Descontar
                <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-s"></span>
                </div>
             </th>
            <th class="ui-state-default" rowspan="1" colspan="1">

             </th>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr class="gradeA odd">
            <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
            <td>@Html.DisplayFor(modelItem => item.razon)</td>
            <td>@Html.DisplayFor(modelItem => item.porcDescontar)</td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.idPromocion })"><img src="../../Content/images/icons/color/pencil.png", alt="Edit" />Editar </a> | 
                <a href="@Url.Action("Detalles", new { id = item.idPromocion })"><img src="../../Content/images/icons/color/edit-column.png", alt="Details" />Detalles</a> | 
                <a  id = @item.idPromocion class = "eliminar" href=""><img src="../../Content/images/icons/color/cross.png", alt="Delete" />Borrar</a> 
            </td>
        </tr>
        
    }

     <div id="dialogEliminar" title="Desea Eliminar el Promoción?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    La Promocion que UD. Elimine no podra recuperarla </p>
    </div>

    </tbody>
</table>
      </div>
        
    </div>
    </div>

    <div>
    @Html.ActionLink("Regresar", "Buscar")
    </div>


    <script type = "text/javascript">
        var idEliminar = 0;
        $(".eliminar").click(function () {
            $('#dialogEliminar').dialog('open');
            idEliminar = $(this).attr("id");
            return false;
        });

        $('#dialogEliminar').dialog({
            autoOpen: false,
            resizable: false,
            draggable: false,
            width: 300,
            modal: true,
            title: "!Confirmar Eliminacion de Promoción",
            position: "center",
            buttons: {
                "Aceptar": function () {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        url: "../../Promociones/Delete/" + idEliminar,
                        success: function (data) {
                            oTable.fnDraw(false);
                            if (data.me == "") {
                                $(this).dialog("close");
                                location.reload();
                            }
                        }
                    });

                },
                "Cancelar": function () {
                    $(this).dialog("close");
                    return false;
                }
            }
        });

</script>