@model IEnumerable<Stardust.Models.Promociones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            nombre
        </th>
        <th>
            descripcion
        </th>
        <th>
            variableAnalizar
        </th>
        <th>
            CondicionAnalizar
        </th>
        <th>
            porcDescontar
        </th>
        <th>
            idhotel
        </th>
        <th>
            estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.variableAnalizar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CondicionAnalizar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcDescontar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idhotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
