@model IEnumerable<Stardust.Models.ProveedorBean>


@{
    ViewBag.Title = "Index";
}

<h2>Lista de Proveedores</h2>

<p>
    <a href="@Url.Action("RegistrarProveedor")"><img src="../../Content/images/icons/color/plus.png", alt="Create" />Añadir</a>
</p>
@*<p>
    @Html.ActionLink("Buscar proveedor", "BuscarProveedor","Proveedores")
</p>
*@

<div class = "widget" >

    <div class="title"><img src="../../Content/images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Proveedores</h6></div>

    <table cellpadding = "0" cellspacing = "0" width = "100%" class = "sTable" >

    <thead>
        <tr>
            <td>Razon Social</td>
            <td>RUC</td>
            <td>Direccion</td>       
            <td>Contacto</td>
            <td></td>            
        </tr>
    </thead>

    <tbody>

    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.razonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ruc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contacto)
                </td>
                <td>
                <a href="@Url.Action("ModificarProveedor", new { id = item.id })"><img src="../../Content/images/icons/color/pencil.png", alt="Edit" />Editar </a> | 
                <a href="@Url.Action("Details", new { id = item.id })"><img src="../../Content/images/icons/color/edit-column.png", alt="Details" />Detalles</a> | 
                <a href="@Url.Action("EliminarProveedor", new { id = item.id })"><img src="../../Content/images/icons/color/cross.png", alt="Delete" />Borrar</a>
                                  
                </td>
            </tr>
    }
    
    </tbody>

    </table>
</div>

