@using Stardust.Models
@model ReporteAllEmpleados

        @*<div id="leftSide" >
        <div class="logo">

                <img src="C:\Users\TEMP\Desktop\ stardusthotel\Stardust\Stardust\Content\images\logo.png"/>

        </div>*@
<div>  </div>
<table>
<tr>
   <td align="left"> Stardust  </td>
   <td align="right"> Fecha y Hora Actual:  </td>
</tr>
<tr><td></td><td align="right"> @DateTime.Now  </td></tr>
 </table>
 <div>  </div>
 <div>    </div>
<div>    </div>
<div  align="center"><h1>
    Reporte de Asistencia
</h1></div>
<div>    </div>
<div>    </div>
<div align="center">Cargo: Supervisor de Empleados </div>
<div align="center">Estado: "ACTIVO"  </div>
@*
<div align="center">Codigo: EMP-@Model.empleado.ID  </div>

<div align="center">Fecha de Ingreso: @Model.empleado.fechaIngreso.ToShortDateString()   </div>

*@
<div>    </div>
<div>    </div>
<div>    </div>
<div align="left">  Todos Los Empleados   </div>

<table >
   @*
   <tr><td> @ViewBag.empleado</td></tr>
    <tr border="0" bgcolor="#777777" color="#ffffff">
        <td width="20%" align="center">
             Horarios Asignados
        </td>
       
    </tr>
    
    @{
        var OddColor = "#DDEEEE";
        var evenColor = "#EEFFFF";
        var Odd = OddColor;
    }
    *@
    @foreach (EmpleadoBean empleado in Model.allempleados)
    {
    <tr><td><h3><b>Codigo:EMP- @empleado.ID Nombre: @empleado.nombreEmpleado Estado: @empleado.estado</b></h3></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
        if (empleado.horarios.Count == 0)
        { <tr><td align="center"><i> No tiene Horarios Asignado</i></td></tr> }
        for (int z = 0; z < empleado.horarios.Count; z++)
        {
            Horario horario = empleado.horarios.ElementAt(z);
        <tr><td></td></tr>
        <tr>
        <td><h3>
        HORARIO: - Del @horario.fechaInicioHorario.Date.ToShortDateString() hasta @horario.fechaFinHorario.ToShortDateString()
        </h3></td>
          
         
             
        </tr >
        <tr><td></td></tr>
            if (horario.horariodetalles.Count == 0)
            { <tr><td align="center"><i> No tiene Detalles Asignados</i></td></tr> }
            for (int i = 0; i < horario.horariodetalles.Count; i++)
            {
                HorarioDetalle detalleaux = horario.horariodetalles.ElementAt(i);
                <tr  bgcolor="">
                
                <td align="left" ><b> Detalle del dia: @detalleaux.diaSemana     -Entrada: @detalleaux.horaEntrada    - Salida: @detalleaux.horaSalida </b> </td>  
                           
               </tr>
        
               <tr><td></td></tr>
          
               <tr><td align="left"> <b>Asistencia :</b> </td>
               
               </tr>
                if (detalleaux.asistencias.Count == 0)
                { <tr><td align="center"><i> No tiene Asistencia para ese Rango</i></td></tr> }
                for (int j = 0; j < detalleaux.asistencias.Count; j++)
                {

                    Asistencia asistencia = detalleaux.asistencias.ElementAt(j);
                 
                 <tr>
                 
                 <td align="right">  Fecha y HoraMarcada :@asistencia.horaasistencia Tipo(E/S): @asistencia.TipoES Estado:: @asistencia.estado</td>
                         
                
                </tr>
             
                }
           <tr><td></td></tr>
        <tr><td></td></tr>
            }
        
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
    }

    }
</table>