@using Stardust.Models
@model ReporteEmpleado

        @*<div id="leftSide" >
        <div class="logo">

                <img src="C:\Users\TEMP\Desktop\ stardusthotel\Stardust\Stardust\Content\images\logo.png"/>

        </div>*@
<div>  </div>
<table>
<tr>
   <td align="left"> Stardust  </td>
   <td align="right"> Fecha y Hora Actual:  </td>
</tr>
<tr><td></td><td align="right"> @DateTime.Now  </td></tr>
 </table>
 <div>  </div>
 <div>    </div>
<div>    </div>
<div  align="center"><h1>
    Reporte de Asistencia
</h1></div>
<div>    </div>
<div>    </div>
<div align="center">Cod: SUP-023 </div>
<div align="center">Cargo: Supervisor de Empleados </div>
<div align="center">Estado: "ACTIVO"  </div>
<div>    </div>
<div>    </div>
<div>    </div>
<div>    </div>
<div align ="left"> Codigo: EMP-@Model.empleado.ID Nombre: @Model.empleado.nombreEmpleado</div>
<div align="left">Fecha de Ingreso: @Model.empleado.fechaIngreso.ToShortDateString()  Estado: @Model.empleado.estado  </div>

<div>    </div>
<div>    </div>
<div>    </div>
<div>    </div>
<div>    </div>
<table >
   @*
   <tr><td> @ViewBag.empleado</td></tr>
    <tr border="0" bgcolor="#777777" color="#ffffff">
        <td width="20%" align="center">
             Horarios Asignados
        </td>
       
    </tr>
    
    @{
        var OddColor = "#DDEEEE";
        var evenColor = "#EEFFFF";
        var Odd = OddColor;
    }
    *@
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    @foreach (Horario horar in Model.horarios)
    {
        <tr><td></td></tr>
        <tr>
        <td><h3><b>
        HORARIO: - Del @horar.fechaInicioHorario.Date.ToShortDateString() hasta @horar.fechaFinHorario.ToShortDateString()
        </b></h3></td>
         
         
             
        </tr >
        <tr><td></td></tr>
        if (horar.horariodetalles.Count == 0)
        { <tr><td align="center"><i> No tiene Detalles Asignados</i></td></tr> }
        for (int i = 0; i < horar.horariodetalles.Count; i++)
        {
            HorarioDetalle detalleaux = horar.horariodetalles.ElementAt(i);
                <tr  bgcolor="">
                
                <td align="left" ><b> Detalle del dia: @detalleaux.diaSemana     -Entrada: @detalleaux.horaEntrada    - Salida: @detalleaux.horaSalida </b> </td>  
                           
               </tr>
        
               <tr><td></td></tr>
          
               <tr><td align="left"> <b>Asistencia :</b> </td>
               
               </tr>
             if (detalleaux.asistencias.Count == 0)
             { <tr><td align="center"><i> No tiene Asistencia para ese Rango </i></td></tr> }
             for (int j = 0; j < detalleaux.asistencias.Count; j++)
             {

                 Asistencia asistencia = detalleaux.asistencias.ElementAt(j);
                 
                 <tr>
                 
                 <td align="right">  Fecha y HoraMarcada :@asistencia.horaasistencia Tipo(E/S): @asistencia.TipoES Estado:: @asistencia.estado</td>
                         
                
                </tr>
             
             }
           <tr><td></td></tr>
        <tr><td></td></tr>
        }
        
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
    }
</table>