@model IEnumerable<Stardust.Models.ProductoBean>

<h2>Buscar Producto</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>


@using (Html.BeginForm("Buscar", "Producto", FormMethod.Post, new { @class = "form", id = "validate" }))
{
    @Html.ValidationSummary(false)
    <fieldset>
        <div class = "widget" >
            <div class = "title"><h6>Buscar Producto</h6></div>

            <div class="formRow">
                <label>Nombre</label>
                <div class = "formRight" ><input type = "text" id = "nombre" name = "nombre" class="validate[required,custom[onlyLetterSp]]" ,name="lettersValid", maxlength = "50", placeholder = "Maximo 50 caracteres aqui" /></div>
                <div class = "clear" ></div>
            </div>
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Buscar" class = "redB" />
        @Html.ActionLink("Regresar", "Buscar")
    </p>
}



<p></p><p></p>
<div class="wrapper">
    <div class="widget">
      <div class="title">
      <h6>Lista de Productos</h6>
      </div>
      <div class="dataTables_wrapper">
            
            <table cellpadding = "0" cellspacing = "0" width = "100%" class = "display dTable">
    <thead>
        <tr>
            <th class="ui-state-default" rowspan="1" colspan="1" style="width:209px;" >
                <div class="DataTables_sort_wrapper">
                Nombre
                <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-s"></span>
                </div>
             </th>
            <th class="ui-state-default" rowspan="1" colspan="1" style="width:209px;" >
                <div class="DataTables_sort_wrapper">
                Descripción
                <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-s"></span>
                </div>
             </th>
            <th class="ui-state-default" rowspan="1" colspan="1" style="width:209px;" >

            </th>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        
        <tr>
            <td>@Html.DisplayFor(modelItem => item.nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.ID })"><img src="../../Content/images/icons/color/pencil.png", alt="Edit" />Editar </a> | 
               @* <a href="@Url.Action("Delete", new { id = item.ID })"><img src="../../Content/images/icons/color/cross.png", alt="Delete" />Borrar</a>*@
              
              <a  id = @item.ID class = "eliminar" href=""><img src="../../Content/images/icons/color/cross.png", alt="Delete" />Borrar</a>

            </td>
        </tr>
    
        
    }

    <div id="dialogEliminar" title="Desea Eliminar el producto?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    El producto que UD. Elimine ya no podra ser recuperado</p>
    </div>


    </tbody>
    </table>
    </div>
        
    </div>
</div>


<script type = "text/javascript">
    var idEliminar = 0;
    $(".eliminar").click(function () {
        //Jp++ GPL version xD
        $('#dialogEliminar').dialog('open');
        idEliminar = $(this).attr("id");
        return false;
    });

    $('#dialogEliminar').dialog({
        autoOpen: false,
        resizable: false,
        draggable: false,
        width: 300,
        modal: true,
        title: "!Confirmar Eliminacion de Producto",
        position: "center",
        buttons: {
            "Aceptar": function () {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: "Delete/" + idEliminar,
                    success: function (data) {
                        oTable.fnDraw(false);
                        if (data.me == "") {
                            $(this).dialog("close");
                            location.reload();
                        }
                    }
                });

            },
            "Cancelar": function () {
                $(this).dialog("close");
                return false;
            }
        }
    });

</script>