@model Stardust.Models.ProductoBean

<h2>Registrar Producto</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Producto", FormMethod.Post, new { @class = "form", id="validate" }))
{
    @Html.ValidationSummary(false)
    <fieldset>
            <div class="widget">
            <div class="title">
                <h6>Registrar Producto</h6>
            </div>


            <div class="formRow">
                @Html.LabelFor(model => model.nombre)<span class="req">*</span>
                <div class = "formRight" >@Html.TextBoxFor(model => model.nombre,new {@class="validate[required,custom[onlyLetterSp]]" ,name="lettersValid", maxlength = "50", placeholder = "Maximo 50 caracteres aqui"})</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.descripcion)
                <div class = "formRight" >@Html.TextAreaFor(model => model.descripcion, new { @name = "textarea", cols = "", rows = "8", maxlength = "100", placeholder = "Maximo 100 caracteres aqui" })</div>
                 <div class = "clear" ></div>
            </div>
            
            @*"validate[required,custom[onlyLetterNumber]]" ,type="text" ,name="regexValid" ,value="too many spaces obviously"*@
            </div>
    </fieldset>
            <p></p> <p></p> <p></p>
    <div>
           <input type="submit" value="Crear" class = "redB" />
           @Html.ActionLink("Regresar", "Buscar")
    </div>
}