@model Stardust.Models.PromocionBean

@{
    ViewBag.Title = "Registrar Promocion";
}

<h2>RegistrarAdelanto</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>

@using (Html.BeginForm("RegistrarAdelanto", "Promociones", FormMethod.Post, new { @class = "form", id = "validate" }))
{
    @Html.ValidationSummary(false)

    <fieldset>
            <div class="widget">
            <div class="title">
                <h6>Registrar Promocion</h6>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.descripcion)<span class="req">*</span>
                <div class = "formRight" >@Html.TextBoxFor(model => model.descripcion)</div>
                 <div class = "clear" ></div>
            </div>
            
            <div class="formRow">
                @Html.LabelFor(model => model.adelanto)<span class="req">*</span>
                <div class = "formRight" >@Html.TextBoxFor(model => model.descuento, new { @class = "validate[required,custom[onlyNumberSp]]", name = "numsValid", maxlength = "3", placeholder = "Solo numeros" })</div>
                <div class = "clear" ></div>
            </div>  
            
            <div class="formRow">
                @Html.LabelFor(model => model.porcDescontar)<span class="req">*</span>
                <div class = "formRight" >@Html.TextBoxFor(model => model.porcDescontar, new { @class = "validate[required,custom[onlyNumberSp]]", name = "numsValid", maxlength = "3", placeholder = "Solo numeros" })</div>
                <div class = "clear" ></div>
            </div>
            
            <div class="formRow">
                @Html.LabelFor(model => model.idhotel)<span class="req">*</span>
                <div class = "formRight" >@Html.DropDownListFor(model => model.ID, Model.hotelList)</div>
                <div class = "clear" ></div>
            </div>         
            
            </div>
    </fieldset>
            <p></p> <p></p> <p></p>
    <div>
           <input type="submit" value="Crear" class = "redB" />
    </div>
}

<div>
    @Html.ActionLink("Regresar", "../Home/Index")
</div>
