@model Stardust.Models.HabitacionBean

@{
    ViewBag.Title = "Detalle de habitación";
}

<h2>Detalle de habitación</h2>

<fieldset>
    <div class = "widget" >
        <div class = "title" ><h6> Detalle de habitación </h6></div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.hotel )
            <div class = "formRight" > @Html.DisplayFor(model => model.hotel) </div>
            <div class = "clear" ></div>
        </div>
            
        <div class = "formRow" >
            @Html.LabelFor(model => model.piso )
            <div class = "formRight" > @Html.DisplayFor(model => model.piso) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.estado)
            <div class = "formRight" > @Html.DisplayFor(model => model.estado) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.nroBanos )
            <div class = "formRight" > @Html.DisplayFor(model => model.nroBanos) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.nroCamas )
            <div class = "formRight" > @Html.DisplayFor(model => model.nroCamas) </div>
            <div class = "clear" ></div>
        </div>

        <div class = "formRow" >
            @Html.LabelFor(model => model.tipoHabitacion )
            <div class = "formRight" > @Html.DisplayFor(model => model.tipoHabitacion) </div>
            <div class = "clear" ></div>
        </div>
    </div>
</fieldset>

@using( @Html.BeginForm( "Edit" , "Habitacion" , FormMethod.Post , new { @class = "form" } ) ){
    <p>
        <a href="@Url.Action("Edit", new { id = Model.ID })"><img src="../../Content/images/icons/color/pencil.png", alt="Edit" />Editar</a> | 
        @Html.ActionLink("Regresar", "List")
    </p>
}