@model Stardust.Models.OrdenProducto

<h2>Orden de Compra</h2>
<p></p><p></p><p></p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="/Scripts/ValidacionOrdenDeCompra.js"></script>


 @using (Html.BeginForm("Registrar2", "OrdenCompra", FormMethod.Post, new { @class = "form" }))
 {   
    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Proveedor</h6>
                @Html.HiddenFor(model => model.id) 
                
            </div>
            <div class="formRow"> @Html.LabelFor(model => model.proveedor)
                <div class=" formRight">  @Html.DisplayFor(model => model.proveedor, new { @readonly = "readonly" })  </div>
                <div class="clear"></div>
            </div>
            <div class="formRow"> @Html.LabelFor(model => model.nombrehotel) @Html.HiddenFor(model => model.idhotel) 
                <div class=" formRight">  @Html.DisplayFor(model => model.nombrehotel, new { @readonly = "readonly" })  </div>
                <div class="clear"></div>
            </div>
            
        </div>
    </fieldset>
    

    <p></p><p></p><p></p><p></p>

    <div class="title"><h6>Productos que tiene el Proveedor</h6> </div>
     <p></p><p></p>
    
        <table cellpadding = "0" cellspacing = "0" width = "100%" class = "sTable" >

    <thead>
        <tr>
            <td>Producto</td>
            <td>Precio</td>
           <td>Stock Actual</td>
           <td>Stock Minimo</td>
           <td>Stock Maximo</td>
           <td>Cantidad</td>
           
        </tr>
    </thead>

    <tbody>


    <span id = "cantidadChit">@Model.listaProducto.Count</span>
        
    @for (int i = 0; (i < Model.listaProducto.Count); i++)
    {
    @Html.HiddenFor(model => model.listaProducto[i].idproducto) 
        if (Model.listaProducto[i].estado)
        {
        <tr>       
                
                <td> @Html.TextBoxFor(model => model.listaProducto[i].Nombre, new { @readonly = "readonly" }) </td>
                <td> @Html.TextBoxFor(model => model.listaProducto[i].precio, new { @readonly = "readonly" }) </td>
                <td> @Html.TextBoxFor(model => model.listaProducto[i].stockActual, new { @readonly = "readonly" })   </td>
                <td> @Html.TextBoxFor(model => model.listaProducto[i].stockMinimo, new { @readonly = "readonly" })   </td>
                <td> @Html.TextBoxFor(model => model.listaProducto[i].stockMaximo, new { @readonly = "readonly" })   </td>
                <td> 
                    @Html.TextBoxFor(model => model.listaProducto[i].cantidad, new { maxlength = "3", placeholder = "Solo números" })
                    @Html.ValidationMessageFor(model => model.listaProducto[i].cantidad)
                </td>
        </tr>
        }
        else
        {
            @Html.HiddenFor(model => model.listaProducto[i].Nombre)
            @Html.HiddenFor(model => model.listaProducto[i].precio)
            @Html.HiddenFor(model => model.listaProducto[i].stockActual) 
            @Html.HiddenFor(model => model.listaProducto[i].stockMinimo) 
            @Html.HiddenFor(model => model.listaProducto[i].stockMaximo)
            @Html.HiddenFor(model => model.listaProducto[i].cantidad)
        }
    }
           
    </tbody>

    </table>

     
    <p></p><p></p><p></p><p></p>
    <p>        
       @if (Model.listaProducto.Count!=0){       
            <input type="submit" value="Crear" class = "redB" />
       }
       | @Html.ActionLink("Regresar", "Index", "OrdenCompra")      
    </p>
    
 }
