@model Stardust.Models.TipoHabitacionxHotel

@{
    ViewBag.Title = "Asignar tipo de habitacion";
}

<h2> Asignar tipo de habitacion </h2>

@using (@Html.BeginForm("AsignarTipoHabitacion", "Hotel", FormMethod.Post, new { @class = "form" }))
{ 
    @Html.ValidationSummary(false)
    <fieldset>
        <div class = "widget" >
            <div class = "title" ><h6> Asignar tipo de habitación </h6></div>

            <div class = "formRow" >
                @Html.LabelFor(model => model.hotel)
                <div class = "formRight" > @Html.TextBoxFor(model => model.hotel) </div>
                <div class = "clear" ></div>
            </div>

            <div class = "formRow" >
                @Html.LabelFor(model => model.tipoHabitacion)
                <div class = "formRight" > @Html.TextBoxFor(model => model.tipoHabitacion) </div>
                <div class = "clear" ></div>
            </div>

            <div class = "formRow" >
                @Html.LabelFor(model => model.precioBase)
                <div class = "formRight" > @Html.TextBoxFor(model => model.precioBase) </div>
                <div class = "clear" ></div>
            </div>
        </div>
        <p>
            <input class = "redB" type="submit" value="Asignar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "List")
</div>