@model Stardust.Models.Hotel

@{
    ViewBag.Title = "Edit";
}

<h2>Detalle Hotel</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Details" , "Hotel" , FormMethod.Post , new { @class = "form" } ))
{
    @Html.ValidationSummary(true)

    
    
    <fieldset>
        <div class = "widget" >
            <div class = "title"><h6>Modificar Usuario</h6></div>

            <div class="formRow">
                @Html.LabelFor(model => model.hotelID)
                <div class = "formRight" >@Html.EditorFor(model => model.hotelID)</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.descripcion)
                <div class = "formRight" >@Html.EditorFor(model => model.descripcion)</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.razon_social)
                <div class = "formRight" >@Html.EditorFor(model => model.razon_social)</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.regid)
                <div class = "formRight" >@Html.EditorFor(model => model.regid)</div>
                <div class = "clear" ></div>
            </div>


            <div class="formRow">
                @Html.LabelFor(model => model.nroregid)
                <div class = "formRight" >@Html.EditorFor(model => model.nroregid)</div>
                <div class = "clear" ></div>
            </div>



            <div class="formRow">
                @Html.LabelFor(model => model.direccion)
                <div class = "formRight" >@Html.EditorFor(model => model.direccion)</div>
                <div class = "clear" ></div>
            </div>
            
                <div class="formRow">
                @Html.LabelFor(model =>model.telf1)
                <div class = "formRight" >@Html.EditorFor(model => model.telf1)</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.telf2)
                <div class = "formRight" >@Html.EditorFor(model => model.telf2)</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.fax)
                <div class = "formRight" >@Html.EditorFor(model => model.fax)</div>
                <div class = "clear" ></div>
            </div>

           

            
            
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Guardar" class = "redB" />
    </p>    
    
    
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

