@model Stardust.Models.HotelBean

@{
    ViewBag.Title = "Modificar Hotel";
}

<h2>Modificar Hotel</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Hotel", FormMethod.Post, new { @class = "form" } ))
{
    @Html.ValidationSummary(false)

    <fieldset>
        <div class = "widget" >
            <div class = "title"><h6>Modificar Hotel</h6></div>

           <div class="formRow">
                @Html.LabelFor(model => model.nombre)<span class="req">*</span>
                <div class = "formRight" >@Html.TextBoxFor(model => model.nombre, new { @class = "validate[required,custom[onlyLetterSp]]", name = "lettersValid", maxlength = "30" })</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.razonSocial)<span class="req">*</span>
                <div class = "formRight" >@Html.TextBoxFor(model => model.razonSocial, new { @class = "validate[required,custom[onlyLetterSp]]", name = "lettersValid", maxlength = "30" })</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.direccion)
                <div class = "formRight" >@Html.TextBoxFor(model => model.direccion)</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.tlf1)
                <div class = "formRight" >@Html.TextBoxFor(model => model.tlf1, new { @class = "validate[custom[onlyNumberSp]]", name = "numsValid", maxlength = "9" })</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.tlf2)
                <div class = "formRight" >@Html.TextBoxFor(model => model.tlf2, new { @class = "validate[custom[onlyNumberSp]]", name = "numsValid", maxlength = "9" })</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.email)
                <div class = "formRight" >@Html.TextBoxFor(model => model.email, new { @class = "validate[custom[email]]", name = "emailValid", maxlength = "50",  })</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.nroPisos)<span class="req">*</span>
                <div class = "formRight" >@Html.TextBoxFor(model => model.nroPisos, new { @class = "validate[required,custom[onlyNumberSp]]", name = "numsValid", maxlength = "2"})</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.departamento)
                <div class = "formRight" >@Html.TextBoxFor(model => model.departamento, new { @class = "validate[custom[onlyLetterSp]]", name = "lettersValid", maxlength = "30"})</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.provincia)
                <div class = "formRight" >@Html.TextBoxFor(model => model.provincia, new { @class = "validate[custom[onlyLetterSp]]", name = "lettersValid", maxlength = "30" })</div>
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
                @Html.LabelFor(model => model.distrito)
                <div class = "formRight" >@Html.TextBoxFor(model => model.distrito, new { @class = "validate[custom[onlyLetterSp]]", name = "lettersValid", maxlength = "30" })</div>
                <div class = "clear" ></div>
            </div>
        </div>
    </fieldset>
    
    <p>
        <input type="submit" value="Guardar" class = "redB" />
    </p>    
}

<div>
    @Html.ActionLink("Regresar", "List")
</div>