@model IEnumerable<Stardust.Models.Hotel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Codigo de Hotel
        </th>
        <th>
            Descripcion
        </th>
      
        <th>
            regid
        </th>
        <th>
            direccion
        </th>
        <th>
            telf1
        </th>
    
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
        <td>
            @item.idhotel
        </td>
        <td>
            @item.descripcion
        </td>
       
        <td>
            @item.regid
        </td>
        <td>
            @item.direccion
        </td>
        <td>
            @item.telf1
        </td>
        
    </tr>
}

</table>

